.staff-card a{
    text-decoration: none;
    color: black;
}

.staff{ 
    margin-bottom: 20px;
    margin-left: 2.0em;
   }

.project-title{
    margin-left:4em;
}

.card-img-top{
    
    width: 100%;
}


.staff-left-column h3{

    text-transform: uppercase;
    font-weight:bold;
    font-size: 1.563rem;
    margin-bottom: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.staff-left-column .role h2{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5em;
    font-size: 0.5em;
    font-weight: 200;
    margin-top: .5em;
    color: #455365;
}

.tab-pane h2{

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5em;
    font-size: 1.0em;
    font-weight: 400;
    margin-top: .5em;
    color: #455365;
}

.staff-left-column  h4{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5em;
    font-size: 1.0em;
    font-weight: 400;
    margin-top: .5em;
    color: #455365;
}

.staff-left-column  h3{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5em;
    font-size: 1.1em;
    font-weight: bold;
    color: #455365;
}

#tabbed-content{
    margin-top: 3.2em;
}

#tabbed-content .nav .nav-item{
 margin-right: .3em;
 background-color: rgba(229,218,187,0.6);
 color: black;
}

.nav-pills li {
    display:block !important;
    width:100%;
    margin:0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: rgba(28,16,11,0.6);
}

.nav-link {
    color: rgba(28,16,11,0.8);
    font-weight: bold;
}

.nav-link:hover {
    background-color:rgba(16,124,229,0.7);
    color:white;
}


.h2 {
    font-weight: 400px;
    color: #455365;
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: 1em;
}


.disable-link
{
    text-decoration: none !important;
    pointer-events: none;
    color: black !important;
    cursor: default;
}
.enable-link
{
    text-decoration: underline !important;
    /*color: #075798 !important;*/
    color: rgba(240, 44, 10) !important;
    cursor: pointer !important;
}

.nav-header{

    background:#225dcd;
    background-image: url("/img/duceedited.jpg");
    background-repeat: no-repeat,repeat;
    color: white;
    height:125px;
    font-size: 1.0em;
    font-weight: 600;
}

body{

    background: rgba(194, 247, 247, 0.2);
}

.page-links{

    color: rgba(240, 44, 10);
    font-weight: bold;
    font-size: 1.1em;
}

.btn-type{
    background: #225dcd;
    font-weight: bold;
    font-size:1.3em;
}

.btn {
    background-color: #225dcd;
}

.card-header{
    background: #225dcd;
    color:white;
    font-weight:bold;
    font-size:1.4em;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.skill-entry:not(:first-of-type)
{
    margin-top: 10px;
}

.mdi
{
    font-size: 12px;
}

/* .page-title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.0625;
    margin: 0 0 1rem;
    color: #424242;
    text-transform: none;
    letter-spacing: 0;
} */

.page-title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.0625;
    font-size:medium;
    margin: 0 0 1rem;
    color: #424242;
    text-transform: none;
    letter-spacing: 0;
}
/* .fa,.ai{

    color:blue;
} */

@media only screen and (min-width: 600px) {
    /* For desktop:*/
    /* .header{

        background: blue; 
        background-image: url("/img/duce.jpg");
        background-repeat: no-repeat, repeat;
        color: white;
        height:135px;
        font-size: 1.2em;
        font-weight: 600;
    } */

    .page-title{

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.0625;
        font-size:larger;
        margin: 0 0 1rem;
        color: #424242;
        text-transform: none;
        letter-spacing: 0;
    }

    /* .nav-pills li {
        display:inline !important;
        width:20%;
        margin:2px;
    } */
  }

  @media only screen and (min-width: 769px) {
    /* For desktop:*/
    .nav-header{

        background: #225dcd; 
        background-image: url("/img/duce.jpg");
        background-repeat: no-repeat, repeat;
        color: white;
        height:135px;
        font-size: 1.2em;
        font-weight: 600;
    }

    .page-title{

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.0625;
        font-size: xx-large;
        margin: 0 0 1rem;
        color: #424242;
        text-transform: none;
        letter-spacing: 0;
    }

      .nav-pills li {
        display:inline !important;
        width:20%;
        margin:2px;
    }

    .staff-left-column h3{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 1.563rem;
    margin-bottom: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

    .staff-left-column .role h2{
        
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: .5em;
        font-size: 0.5em;
        font-weight: 200;
        margin-top: .5em;
        color: #455365;
    }

    .tab-pane h2{

        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: .5em;
        font-size: 1.5em;
        font-weight: 400;
        margin-top: .5em;
        color: #455365;
    }

    .staff-left-column  h4{
        
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: .5em;
        font-size: 1.2em;
        font-weight: 400;
        margin-top: .5em;
        color: #455365;
    }

    .staff{ 
        margin-right: 6px;
        margin-bottom: 0px;
    }

    .search-bar{

        width:50%;
    }

    .project-title{
        margin-left:0px;
    }

    
  }




